@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700&display=swap');

body {
   font-family: Montserrat;
   background-color: whitesmoke;
}

.header{
   background-color: white !important;
   outline: #00509D 7px solid;
   border-radius: 40px;
   overflow: auto;
   padding: 25px;
   height: 15%;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.headerButtonContainer{
   height: 100%;
}

.headerButton{
   background-color: white;
   height: 100%;
   display: flex; /* Imposta il display a flex per utilizzare il modello di box flessibile */
   justify-content: left; /* Centra orizzontalmente il contenuto */
   align-items: center; /* Centra verticalmente il contenuto */
   font-weight: 600;
}

.headerButton img{
   padding: 4px;
   background-color: white;
   border-radius: 5px;
   max-width:100%;
   margin-right: 0;
}

.headerButton img:hover{
   outline: #FE4600 5px solid;
   overflow: hidden;
   transition: all 250ms;
   transform: translateY(-2%);
}

.headerImageContainer{
   height: 100%;
   background-color: white;
   display: flex; /* Imposta il display a flex per utilizzare il modello di box flessibile */
   justify-content: center; /* Centra orizzontalmente il contenuto */
   align-items: center; /* Centra verticalmente il contenuto */
}

.headerImage{
   max-width:70%;
   background-color: white;
   max-height:70%;
}

.headerTitle{
   color: #00509D;
   display: flex; /* Imposta il display a flex per utilizzare il modello di box flessibile */
   justify-content: left; /* Centra orizzontalmente il contenuto */
   align-items: center; /* Centra verticalmente il contenuto */
   font-size: 3em;
   font-weight: 800;
}